{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

	<div class="container">

		<div class="row d-flex justify-content-center">
			<div class="col-12 card card-homepage border-0 my-4">
				<div class="card-body text-center">
					<h3>Étape 1</h3>
					<p class="card-text">Je scanne le Qr-Code d'un lot</p>
				</div>
				<img src="{{asset("build/images/scan.svg")}}" alt="Image de Qr-Code" class="card-img-top">
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-12 card card-homepage border-0 my-4">
				<div class="card-body text-center">
					<h3>Étape 2</h3>
					<p class="card-text">Je vérifie si j'ai choisi le bon lot</p>
				</div>
				<img src="{{asset("build/images/detail.png")}}" alt="Image de la liste de matériel" class="card-img-top">
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-12 card card-homepage border-0 my-4">
				<div class="card-body text-center">
					<h3>Étape 3</h3>
					<p class="card-text">Je choisi les matériels que j'ai utilisés et je les ajoute au panier</p>
				</div>
				<img src="{{asset("build/images/products.png")}}" alt="Image de la liste de matériel" class="card-img-top">
			</div>
		</div>

		<div class="row d-flex justify-content-center">
			<div class="col-12 card card-homepage border-0 my-4">
				<div class="card-body text-center">
					<h3>Étape 4</h3>
					<p class="card-text">Une fois tous les matériels utilisés dans le panier, je renseigne mes coordonées</p>
				</div>
				<img src="{{asset("build/images/cart.png")}}" alt="Image de la liste de matériel" class="card-img-top">
			</div>
		</div>

	</div>
</div>{% endblock %}
