body {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

/* LOGIN PAGE */
.form-signin {
    max-width: 400px;
    padding: 15px;
}

/* MENU NAVBAR STYLE */
.navbar{
    background-image: url("../images/background-menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    text-decoration: none;
    color: white; 
}

.link:hover{
    color: white;
}

.navbar-toggler{
    box-shadow: none;
    border:none;
}

.navbar-toggler:hover{
    box-shadow: none;
}

.badge-cart{
    background-color: white;
    color: red;
}

/* DETAIL KIT PAGE */
.detailKit{
    max-width: 400px;
    padding: 15px;
}

/* CART PAGE */

.cart-link{
    text-decoration: none;
    color: rgb(143, 143, 143);
}

.cart-link:hover{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 920px) {
    
    .link{
        background-color: rgb(0, 0, 0, 0.2);
        border-radius: 30px;
        margin-left: 0.75rem;
        padding: 0.6rem;
    }

    .link:hover{
        color:white;
        background-color: rgb(0, 0, 0, 0.5);
    }

  }