body {
    margin: 0;
    padding: 0;
}

html{
    height: 100vh;
}

.form-signin {
    max-width: 400px;
    padding: 15px;
}

.navbar{
    background-image: url("../images/background-menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
}

.link{
    text-decoration: none;
    color: white; 
}

.navbar-toggler{
    box-shadow: none;
    border:none;
}

.navbar-toggler:hover{
    box-shadow: none;
}