{% extends "base.html.twig" %}

{% block title %}Page non trouvée{% endblock %}

{% block body %}
    <div class="container d-flex justify-content-center align-items-center">
        <img class="imgErrorNotFound"src="{{asset("build/images/404.svg")}}" alt="Illustration page 404">
    </div>
{% endblock %}
